html, body {
    padding: 0;
    margin: 0;
}

#map {
    height: 50vh;
    width: 90vw;
    margin: 0 auto;
}

.row {
    text-align: center;
    padding: 0;
    margin: 0;
}

.btn-group {
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    padding: 20px;
    display: inline-block;
}

.jumbotron {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: blue;
    text-align: justify;
    margin: 10px;
}

.jumbotron h5{
    text-align: center;
    color: blue;
    font-size: 18px;
    margin-bottom: -20px;
    padding-right: 10px;
    padding-left: 10px;
}

.jumbotron h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 39px;
    text-align: center;
    color: black;
    margin-top: -20px;
}

#slider{
    margin-bottom:20px;
}
.menu-button{
    position: absolute;
}
.ui-rangeSlider-container{
    width:98% !important;
}

/*
.ui-rangeSlider-bar{
    left:90% !important;
}
*/

